streamlit==1.38.0
protobuf==5.29.5
packaging==24.2

transformers==4.56.2
tokenizers==0.22.1
accelerate==1.10.1
huggingface-hub==0.35.1
sentencepiece==0.2.1

torch==2.8.0+cpu ; platform_system!="Windows"

pillow==10.4.0        # streamlit requires <11
rich==13.9.4          # streamlit 1.38 requires rich<14

numpy==2.3.3
pandas==2.3.2
pyarrow==21.0.0


